h1, h2, nav {
  font-family: 'Poiret One', cursive;
}

header {
    font-size
font-family: 'Poiret One', cursive;
    Background-color:grey;
    padding-bottom: 20px;
    padding-top: 20px;
}

header a {
    color:white;
    text-decoration:none
}
header li {
     display:inline-block; 
     width: 20%;
    text-align: center;
    
}

header a:hover{
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 5px;
}

.lol {
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 5px;
}

.cercle-competence{
    width:150px;
    height:150px;
    background-color: lightblue;
    border-radius:50%;
    margin:50px;
    overflow: hidden;
    position:relative; 
    
}
.cercle-competence-niveau{
    width:100%;
    background-color: blue;
    height:75%;
    position: absolute;
    bottom:0;
    transition:all is ease;
    
}
.cercle-competence:hover .cercle-competence-niveau{
    height:75%;
}
/* Sur n'importe quel élément html de type block ou inline block o peut mettre un contour (border) une couleur de fond(color background) des marges inférieures et exterieures (margin et padding) 

width :  /* sert a espacé les titres sur le header ./*